@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    color: #666;
    font-family: 'NanumSquareNeo';
    font-size: 15px;
    line-height: 1.5;
    min-width: 1320px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #666;
}

/* 헤더 */
header{
    width: 100%;
    position: absolute;
    z-index: 1000;
}
.sub_bg{
    position: absolute;
    width: 100%;
    height: 270px;
    background-color: rgba(51, 51, 51, 0.6);
    left: 0;
    top: 0;
    z-index: -1;
    display: none;
}
header a{
    color: #fff;
}
.header_in{
    width: 1320px;
    margin: 86px auto;
    display: flex;
    justify-content: space-between;
    font-family: 'NanumSquareNeo';
    font-weight: 700;
    position: relative;
}
.logo{
    position: absolute;
    top: -44px;
    left: 50%;
    transform: translateX(-50%);
}
.logo img{
    display: block;
}
.nav,
.right{
    display: flex;
}
.nav>li>a{
    font-size: 16px;
    display: block;
}
.nav>li{
    padding: 0 20px;
}
.header_in .right{
    padding-left: 530px;
    position: relative;
    z-index: 1010;
}
.right a{
    font-size: 13px;
}
.right li{
    padding: 0 5px;
}
.r1, .r2{
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 50px;
}
.r2{
    margin-right: 10px;
}
.r1:hover,
.r2:hover{
    background-color: #DFBDB9;
    border: 1px solid #DFBDB9;
    color: #fff;
}
.sub{
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    display: none;
}
.sub a{
    color: #DFBDB9;
    display: block;
    padding-top: 20px;
}
.sub a:hover{
    font-weight: 700;
}
.nav>li:hover>a>span::before{
    transform: scaleX(1);
}
.nav>li:hover .sub{
    display: block;
}
.nav span{
    position: relative;
}
.nav span::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: center;
}
.nav span:hover::before{
    transform: scaleX(1);
}



/* 햄버거 메뉴 */
.hbgscroll{
    height: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}
/*움직이는 메뉴버튼*/
input[id="menuicon"]{
	display:none;
}

/*메뉴 아이콘 버튼 크기, 위치*/
input[id="menuicon"]+label{
	display:block;
	width:28px;
	height:20px;
	position:absolute;
	right:0px;
	top:0px;
	z-index:20000;
	transition:all 0.5s;
	cursor:pointer;
}

/*메뉴 버튼 클릭했을 때 X버튼 색상*/
input[id="menuicon"]:checked+label span{
	background:#BF8578;
}

/*메뉴 세줄 버튼*/
input[id="menuicon"]+label span{
	display:block;
	position:absolute;
	width:100%;
	height:2px;
	border-radius:30px;
	background:#fff;
	transition:all 0.5s;
}
input[id="menuicon"]+label span:nth-child(1){
	top:0;
}
input[id="menuicon"]+label span:nth-child(2){
	top:50%;
	transform:translateY(-50%);
}
input[id="menuicon"]+label span:nth-child(3){
	bottom:0;
}

/*메뉴 버튼 클릭했을 때 세줄버튼에서 X버튼으로 바뀌는 모습*/
input[id="menuicon"]:checked+label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked+label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked+label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}

/*메뉴 창*/
.sidebar{
	width:100%;
	height:100%;
	background:url(../images/main/hbg_bg.png) no-repeat top center/cover;
	position:fixed;
	top:0;
	right:-100%;
	z-index:1000;
	transition:all 0.3s;
}
.sidebar .in_text{
    max-width: 1320px;
    margin: 320px auto 400px;
    display: flex;
    justify-content: space-around;
}
.sidebar>.in_text>li>a{
    font-size: 25px;
    font-weight: 700;
    color: #BF8578;
    padding: 15px;
}
.in_text>li>a{
    background: url(../images/main/hbg_icon.png) no-repeat  0% center;
}
.hbg_logo{
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
}
.hbg_logo img{
    display: block;
}
.menu_in{
    padding-top: 70px;
}
.menu_in li{
    padding-bottom: 35px;
}
.menu_in a{
    font-size: 20px;
    font-weight: 400;
    color: #DFBDB9;
}
.hbg_right a{
    font-size: 13px;
    color: #BF8578;
    font-weight: 700;
    border: 1px solid #BF8578;
}
.hbg_right a:hover{
    background-color: #BF8578;
    color: #fff;
}
.hbg_right li{
    padding: 0 5px;
}
.hbg1, .hbg2{
    border: 1px solid #BF8578;
    padding: 10px 20px;
    border-radius: 50px;
}
.hbg2{
    margin-right: 10px;
}
.hbg1:hover,
.hbg2:hover{
    background-color: #DFBDB9;
    border: 1px solid #DFBDB9;
    color: #fff;
}
.menu_in li a{
   margin-left: 18px;
}
.menu_in span{
    position: relative;
}
.menu_in span::before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #BF8578;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: left;
}
.menu_in span:hover::before{
    transform: scaleX(1);
}
.menu_in a:hover{
    font-weight: 700;
    color: #BF8578;
}
input[id="menuicon"]:checked+label+div{
	right:0;
}


/* 메인배너 */
.mb_bg{
    background: url(../images/sub4/mb.png) no-repeat center top/cover;
    height: 900px;
    text-align: center;
    align-content: center;
    color: #fff;
}
.mb_bg{
    font-family: "Pretendard";
    align-items: center;
}
.mb_bg h1{
    font-size: 60px;
}
.mb_bg p{
    padding: 10px 0;
    font-size: 22px;
}


/* 아누비 큐앤에이 - 타이틀제목 */
.title{
    width: 1320px;
    text-align: center;
    max-height: 1000px;
}
.title_bg1{
    background: url(../images/main/bg_1.png) no-repeat 38.2% 25%;
}
.m1{
    margin: 150px auto 0;
}
.title h1{
    font-size: 50px;
    font-weight: 800;
    padding: 15px 0 10px;
    font-family: "Noto Sans KR", serif;
}
.title p{
    width: 100%;
    font-size: 1.2em;
}
.title span{
    color: #DFBDB9;
}

/* 아누비 큐앤에이 - 탭메뉴 */
.tab {
    width: 1320px;
    margin: auto;
    overflow: hidden;
}
.tabnav {
    margin-top: 60px;
    width: 100%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.tabnav>li>a {
    display: block;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    position: relative;
    z-index: 2;
}
.tabnav>li>a:hover {
    background: #BF8578;
    color: #fff;
    border: 1px solid #BF8578;
}
.tabnav>li>a.active {
    background: #BF8578;
    color: #fff;
    border: 1px solid #BF8578;
}
.tabcontent {
    padding: 20px;
    height: auto;
    position: relative;
    top: -1px;
}

/* 아누비 큐앤에이 - qna리스트 */
.q_a {
    width: 1200px;
    margin: 50px auto;
}
.q_a li {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.q_a li:first-child{
    border-top: 1px solid #ccc;
}
.q_a li a {
    display: block;
    font-size: 20px;
    font-weight: 700;
    padding: 25px 40px;

}
.q_a li div {
    width: 100%;
    border-top: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    height: auto;
    display: none;
}
.q_a li p{
    padding: 40px 60px;
    background-color: #eee;
    margin-bottom: 20px;
}
.q_a li img{
    float: right;
    display: block;
    margin-top: 10px;
    transition: 0.5s;
}
.q_a li.on img{
    transform: rotate(180deg);
}

/* 뉴스&이벤트 슬기로운 요가생활 */
.title_bg2{
    background: url(../images/main/bg_1.png) no-repeat 34.5% 25%;
}
.news{
    width: 1320px;
    margin: 60px auto 0;
}
.news img{
    border-radius: 18px;
    display: block;
}
.news ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px 0;
}
.news h3{
    font-size: 18px;
    font-weight: 800;
    color: #333;
    padding-top: 27px;
}
.news h5{
    font-size: 15px;
    font-weight: 400;
    padding: 17px 0;
}
.news li{
    border-bottom: 2px solid #ccc;
    padding-bottom: 27px;
    position: relative;
}
.end img{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.end_t{
    width: 60%;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
}
.news li a:hover .news_text h3,
.news li a:hover .news_text{
    color: #BF8578;
}
.news_text{
    max-height: 1000px;
}


/* 회원후기 리뷰 */
.title_bg3{
    background: url(../images/main/bg_1.png) no-repeat 33% 25%;
}
.m2{
    margin: 200px auto 60px;
}
.review_bg{
    background-color: #EEE;
    height: 700px;
}
#scroller1,
#scroller3{
    padding-top: 209px;
}
#scroller2,
#scroller4{
    padding-top: 50px;
}
.review{
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.review li{
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 24px;
}
.review_b{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.review h4,
.review h5,
.review h6,
.review p{
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.flex{
    display: flex;
    gap: 6px;
    align-items: center;
}
.review h5{
    background-color: #BF8578;
    color: #fff;
    padding: 4px 9px;
    border-radius: 5px;
}
.review p{
    padding-top: 11px;
}
/* 회원후기 리뷰 - 배경 프로필 - 1라인 */
.pro1{
    background: url(../images/sub4/profile1.png) no-repeat 94% 90% #fff;
}
.pro2{
    background: url(../images/sub4/profile2.png) no-repeat 94% 90% #FFFEEE;   
}
.pro3{
    background: url(../images/sub4/profile3.png) no-repeat 94% 90% #fff;
}
.pro4{
    background: url(../images/sub4/profile4.png) no-repeat 94% 90% #FFFEEE;   
}
/* 회원후기 리뷰 - 배경 프로필 - 2라인 */
.pro5{
    background: url(../images/sub4/profile5.png) no-repeat 94% 90% #FFFEEE;   
}
.pro6{
    background: url(../images/sub4/profile6.png) no-repeat 94% 90% #fff;
}
.pro7{
    background: url(../images/sub4/profile7.png) no-repeat 94% 90% #FFFEEE;   
}
.pro8{
    background: url(../images/sub4/profile8.png) no-repeat 94% 90% #fff;
}
.pro9{
    background: url(../images/sub4/profile9.png) no-repeat 94% 90% #FFFEEE;   
}
/* 회원후기 리뷰 - 배경 프로필 - 3라인 */
.pro10{
    background: url(../images/sub4/profile10.png) no-repeat 94% 90% #fff;
}
.pro11{
    background: url(../images/sub4/profile11.png) no-repeat 94% 90% #FFFEEE;   
}
.pro12{
    background: url(../images/sub4/profile12.png) no-repeat 94% 90% #fff;
}
.pro13{
    background: url(../images/sub4/profile13.png) no-repeat 94% 90% #FFFEEE;   
}
/* 회원후기 리뷰 - 배경 프로필 - 4라인 */
.pro14{
    background: url(../images/sub4/profile14.png) no-repeat 94% 90% #FFFEEE;   
}
.pro15{
    background: url(../images/sub4/profile15.png) no-repeat 94% 90% #fff;
}
.pro16{
    background: url(../images/sub4/profile16.png) no-repeat 94% 90% #FFFEEE;   
}
.pro17{
    background: url(../images/sub4/profile17.png) no-repeat 94% 90% #fff;
}
.pro18{
    background: url(../images/sub4/profile18.png) no-repeat 94% 90% #FFFEEE;   
}
.vert .simply-scroll-list li {
    width: 290px;
    height: 270px;
}
.vert {
	height: 700px;
}


/* 하단 문의 배너 */
.question{
    background: url(../images/sub4/fb.png) no-repeat center top/cover;
    height: 400px;
    text-align: center;
    align-content: center;
    color: #fff;
}
.question h1{
    font-size: 39px;
    font-weight: 800;
}
.question p{
    padding: 15px 0 70px;
}
.question a{
    color: #333;
    background-color: #fff;
    padding: 15px 48px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
}
.question a:hover{
    background-color: #E1B3AE;
    color: #fff;
}








/* 푸터 */
footer{
    background: url(../images/main/footer_bg.png) no-repeat center bottom / cover;
    position: relative;
}
.footer_in{
    width: 80%;
    margin: auto;
    padding: 100px 0 260px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_in .flogo{
    width: 10%;
}
.footer_left{
    color: #F2E9E1;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-right: 19%;
}
.footer_left h3{
    width: 100%;
    padding-bottom: 20px;
}
.ft_ul1{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.ft_ul1 li,
.ft_ul2 li{
    padding: 5px 0;
}
.ft_ul1 a{
    color: #F2E9E1;
    border: 1px solid #F2E9E1;
    padding: 5px 10px;
    margin-left: 10px;
}
.ft_ul1 a:hover{
    background-color: #F2E9E1;
    color: #BF8578;
}
.ft_ul3{
    display: flex;
    gap: 15px;
    padding: 40px 0 10px;
}
.ft_ul3 a{
    color: #F2E9E1;
    font-weight: 700;
    font-size: 14px;
}
.ft_ul3 a:hover{
    border-bottom: 1px solid #F2E9E1;
}
.footer_left p{
    font-size: 12px;
    font-weight: 400;
}
footer span{
    color: #E1B3AE;
}
.footer_right{
    color: #F2E9E1;
}
.footer_right ul{
    display: flex;
    justify-content: space-between;
}
.footer_right p{
    font-size: 12px;
    padding: 10px 0;
}
.footer_right li:hover img{
    filter: brightness(1.2);
}
/* 탑버튼 */
.top_bt{
    position: absolute;
    top: -5%;
    right: 1%;
    animation: ani1 1s infinite linear alternate;
}
@keyframes ani1{
    0%{transform: translateY(0);}
    100%{transform: translateY(-10px);}
}